
<div class="nav-to-new">
  <a href="/articles/new">Add New Article</a>
</div>

<section class="delete-success">
  <h2>{{deleteMessage}}</h2>
</section>

<main>

  {{#each article}}
<div class="article">
  <h1 class="title">{{title}}</h1>
  <h3 class="author">By:&nbsp;{{author}}</h3>
  <h5 class="url">URL Title:&nbsp;<a href="/articles/{{urlTitle}}">{{urlTitle}}</a></h5>
  <section class="body">
    {{body}}
  </section>
</div>
{{/each}}

</main>
