
<div class="nav-to-new">
  <a class="add-new" href="/articles/new">Add New Article</a>
</div>

<section class="delete-success">
  <h2>{{deleteMessage}}</h2>
</section>

<main>

  {{#each article}}
<div class="article">
  <div class="title">{{title}}</div>
  <div class="author">By:&nbsp;{{author}}</div>
  <div class="url">Click URL title to edit:&nbsp;<a href="/articles/{{urlTitle}}">{{urlTitle}}</a></div>
  <section class="body">
    {{body}}
  </section>
</div>
{{/each}}

</main>
