
<div class="nav-to-new">
  <a class="add-new" href="/products/new"><i class="fas fa-shopping-bag"></i>&nbsp;Add New Product</a>
</div>


<section class="delete-success">
  <h2>{{deleteMessage}}</h2>
</section>

<main class="product-listing">

  {{#each products}}
<div class="all-products">
    <h1><a class="titleLink headerText" href="/products/{{id}}">{{name}}</a></h1>
    <p class="productID"><span><a href="/products/{{id}}/edit"><i class="fas fa-user-edit"></i>&nbsp;Edit Product</a></span></p>
    <p>Product ID:&nbsp;{{id}}</p>
    <p>Price:&nbsp;<span>{{price}}</span></p>
    <p>Inventory:&nbsp;<span>{{inventory}}</span></p>
</div>
{{/each}}

</main>
