<main class="product-listing">

 
<div class="single-product">
    <h1><a class="titleLink headerText" href="/products/{{id}}">{{name}}</a></h1>
    <p>Price:&nbsp;<span>{{price}}</span></p>
    <p>Inventory:&nbsp;<span>{{inventory}}</span></p>
    <p>Product ID:&nbsp;{{id}}</p><br>
    <p class="productID"><a href="/products/{{id}}/edit"><i class="fas fa-user-edit"></i>&nbsp;Edit Product</a></p>
</div>


</main>